{% extends 'main/base.html' %}
{% load static %}
{% block content %}


        
        <!-- :: Breadcrumb Header -->
        <section class="breadcrumb-header" style="background-image: url({% static 'assets/images/header/05_header.jpg' %})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner">
                            <h1>About US 2</h1>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>About US</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: Features Home 2 -->
        <section class="features-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="features-item">
                                    <i class="features-icon flaticon-doctor-1"></i>
                                    <div class="item-text">
                                        <h4>Professional Doctor</h4>
                                        <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="features-item">
                                    <i class="features-icon flaticon-medicine"></i>
                                    <div class="item-text">
                                        <h4>The Best Departments</h4>
                                        <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-opening-hours">
                            <i class="flaticon-globe"></i>
                            <h4>Open - Closed Time</h4>
                            <ul class="opening-hours">
                                <li>Monday<span>8.00 - 21.00</span></li>
                                <li>Tuesday<span>8.00 - 21.00</span></li>
                                <li>Wednesday/Sunday<span>8.00 - 21.00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: About Us -->
        <section class="about-us about-us-2 py-100" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-text-box">
                            <div class="sec-title sec-title-2">
                                <h2>About Us</h2>
                                <h3>Professional Medical &amp; Health Care In Full Measure</h3>
                                <p class="sec-explain">CityMed Are A Medical And Health Department Provider Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care Field.</p>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <ul class="about-core">
                                <li><i class="fas fa-check-double"></i>
                                    <h4>online schedule</h4>
                                </li>
                                <li><i class="fas fa-check-double"></i>
                                    <h4>leading technology</h4>
                                </li>
                                <li><i class="fas fa-check-double"></i>
                                    <h4>high packages</h4>
                                </li>
                                <li><i class="fas fa-check-double"></i>
                                    <h4>24/7 online support</h4>
                                </li>
                                <li><i class="fas fa-check-double"></i>
                                    <h4>And More...</h4>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col">
                                    <a class="btn-1" href="#">Discover About More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-img-box">
                            <div class="img-box" style="background-image: url({% static 'assets/images/about/02_about.jpg' %})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: Departments -->
        <section class="departments departments-2 py-100-70">
            <div class="container">
                <div class="sec-title sec-title-2">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Best practice care!</h2>
                            <h3>Different types of departments</h3>
                        </div>
                        <div class="col-lg-5">
                            <p class="sec-explain">CityMed Are A Medical And Health Department Provider Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care Field.</p>
                            <a class="btn-1 sec-btn" href="#">View All practice care</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <span></span>
                            <i class="departments-item-icon flaticon-hematology"></i>
                            <div class="item-content">
                                <h4>Hematology</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <a href="#" class="more">Discover More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <span></span>
                            <i class="departments-item-icon flaticon-neurology"></i>
                            <div class="item-content">
                                <h4>Neurology</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <a href="#" class="more">Discover More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <span></span>
                            <i class="departments-item-icon flaticon-gastroenterology"></i>
                            <div class="item-content">
                                <h4>gastroenterology</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <a href="#" class="more">Discover More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <span></span>
                            <i class="departments-item-icon flaticon-pulmonology"></i>
                            <div class="item-content">
                                <h4>pulmonology</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <a href="#" class="more">Discover More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <span></span>
                            <i class="departments-item-icon flaticon-cardiology"></i>
                            <div class="item-content">
                                <h4>cardiology</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <a href="#" class="more">Discover More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <span></span>
                            <i class="departments-item-icon flaticon-ophthalmology"></i>
                            <div class="item-content">
                                <h4>ophthalmology</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <a href="#" class="more">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: Provide -->
        <section class="provide provide-home-2">
            <div class="bg-section">
                <div class="overlay overlay-3"></div>
            </div>
            <div class="container">
                <div class="sec-title sec-title-2">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Why Choose Us</h2>
                            <h3>Trusted &amp; Experience medical Care Provider</h3>
                        </div>
                        <div class="col-lg-5">
                            <p class="sec-explain">CityMed Are A Medical And Health Department Provider Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care Field.</p>
                            <a class="btn-1 btn-5 sec-btn" href="#">See All Update</a>
                        </div>
                    </div>
                </div>
                <div class="provide-content">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="statistic-item">
                                <i class="flaticon-doctor"></i>
                                <div class="content">
                                    <div class="statistic-counter">223</div>
                                    <div class="counter-name">Expert Doctors</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="statistic-item">
                                <i class="flaticon-rhinology"></i>
                                <div class="content">
                                    <div class="statistic-counter">2005</div>
                                    <div class="counter-name">Happy Patients</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="statistic-item">
                                <i class="flaticon-medicine"></i>
                                <div class="content">
                                    <div class="statistic-counter">530</div>
                                    <div class="counter-name">Health Departments</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="statistic-item">
                                <i class="flaticon-stethoscope"></i>
                                <div class="content">
                                    <div class="statistic-counter">4456</div>
                                    <div class="counter-name">Total Branches</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- :: Quote And Presentation -->
                <div class="quote-and-presentation">
                	<div class="row">
                		<div class="col">
                			<div class="quote-box">
                				<div class="row">
                					<div class="col-lg-4">
                						<div class="quote-img-box" style="background-image: url({% static 'assets/images/qoute/01_quote.jpg' %})"></div>
                					</div>
                					<div class="col-lg-8">
                						<form class="quote-text-box form-contact">
                							<div class="sec-title">
                								<h3>Make appointment!</h3>
                							</div>
                							<div class="row">
                								<div class="col-sm-6">
                									<div class="quote-item">
                										<span class="lable">name*</span>
                										<i class="fas fa-file-signature"></i>
                										<input type="text" name="name" placeholder="Name" required>
                									</div>
                								</div>
                								<div class="col-sm-6">
                									<div class="quote-item">
                										<span class="lable">Email*</span>
                										<i class="fas fa-envelope"></i>
                										<input type="email" name="email" placeholder="Email" required>
                									</div>
                								</div>
                								<div class="col-sm-6">
                									<div class="quote-item">
                										<span class="lable">Phone*</span>
                										<i class="fas fa-phone"></i>
                										<input type="tel" name="phone" placeholder="Phone" required>
                									</div>
                								</div>
                								<div class="col-sm-6">
                									<div class="quote-item">
                										<span class="lable">Doctors*</span>
                										<i class="fas fa-user"></i>
                										<input type="text" name="doctors" placeholder="Doctors" required>
                									</div>
                								</div>
                								<div class="col-sm-12">
                									<div class="quote-item">
                										<span class="lable">Departments*</span>
                										<select name="departments">
                											<option value="Departments">Departments</option>
                											<option value="hemathology">hemathology</option>
                											<option value="neurology">neurology</option>
                											<option value="gastroenterology">gastroenterology</option>
                											<option value="pulmonology">pulmonology</option>
                											<option value="cardiology">cardiology</option>
                											<option value="ophthalmology">ophthalmology</option>
                											<option value="orthopedics">orthopedics</option>
                											<option value="radiology">radiology</option>
                										</select>
                									</div>
                								</div>
                								<div class="col-sm-6">
                									<div class="quote-item">
                										<span class="lable">Select Date*</span>
                										<i class="fas fa-calendar-day"></i>
                										<input type="text" data-toggle="datepicker" name="date" placeholder="Select Date" required>
                									</div>
                								</div>
                								<div class="col-sm-6">
                									<div class="quote-item">
                										<span class="lable">Select Time*</span>
                										<i class="fas fa-clock"></i>
                										<input id="timeQuote" type="text" class="time" name="time" placeholder="Select Date" required>
                									</div>
                								</div>
                								<div class="col-sm-12">
                									<div class="quote-item">
                										<button class="btn-1" type="submit">Book an appointment</button>
                										<span class="out-message m-2"></span>
                									</div>
                								</div>
                							</div>
                						</form>
                					</div>
                				</div>
                			</div>
                		</div>
                	</div>
                </div>
            </div>
        </section>
        
        <!-- :: Gallery -->
        <section class="gallery gallery-2 py-100-70">
            <div class="container">
                <div class="sec-title sec-title-2">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Feature's Gallery</h2>
                            <h3>All Our Latest Case Study</h3>
                        </div>
                        <div class="col-lg-5">
                            <p class="sec-explain">CityMed Are A Medical And Health Department Provider Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care Field.</p>
                            <a class="btn-1 sec-btn" href="#">View All Gallery</a>
                        </div>
                    </div>
                </div>
                <div class="gallery-carousel owl-carousel owl-theme">
                    <div class="gallery-carousel-item">
                        <div class="gallery-item">
                            <span></span>
                            <div class="img-box">
                                <img class="img-fluid gallery-item-img" src="{% static 'assets/images/gallery/01_gallery.jpg' %}" alt="01 Gallery">
                            </div>
                            <div class="hover-box">
                                <div class="text-box">
                                    <div class="tags"><a href="#">surgery</a></div>
                                    <h4><a href="#">Complete surgery</a></h4>
                                </div>
                                <ul class="gallery-icon">
                                    <li><a href="#"><i class="fas fa-link"></i></a></li>
                                    <li><a class="popup" href="{% static 'assets/images/gallery/01_gallery.jpg' %}"><i class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-carousel-item">
                        <div class="gallery-item">
                            <span></span>
                            <div class="img-box">
                                <img class="img-fluid gallery-item-img" src="{% static 'assets/images/gallery/02_gallery.jpg' %}" alt="02 Gallery">
                            </div>
                            <div class="hover-box">
                                <div class="text-box">
                                    <div class="tags"><a href="#">Research</a></div>
                                    <h4><a href="#">Medical Scanner</a></h4>
                                </div>
                                <ul class="gallery-icon">
                                    <li><a href="#"><i class="fas fa-link"></i></a></li>
                                    <li><a class="popup" href="{% static 'assets/images/gallery/02_gallery.jpg' %}"><i class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-carousel-item">
                        <div class="gallery-item">
                            <span></span>
                            <div class="img-box">
                                <img class="img-fluid gallery-item-img" src="{% static 'assets/images/gallery/03_gallery.jpg' %}" alt="03 Gallery">
                            </div>
                            <div class="hover-box">
                                <div class="text-box">
                                    <div class="tags"><a href="#">Departments</a></div>
                                    <h4><a href="#">Bariatric Surgery</a></h4>
                                </div>
                                <ul class="gallery-icon">
                                    <li><a href="#"><i class="fas fa-link"></i></a></li>
                                    <li><a class="popup" href="{% static 'assets/images/gallery/03_gallery.jpg' %}"><i class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-carousel-item">
                        <div class="gallery-item">
                            <span></span>
                            <div class="img-box">
                                <img class="img-fluid gallery-item-img" src="{% static 'assets/images/gallery/04_gallery.jpg' %}" alt="04 Gallery">
                            </div>
                            <div class="hover-box">
                                <div class="text-box">
                                    <div class="tags"><a href="#">Medical</a></div>
                                    <h4><a href="#">Modern Medicine</a></h4>
                                </div>
                                <ul class="gallery-icon">
                                    <li><a href="#"><i class="fas fa-link"></i></a></li>
                                    <li><a class="popup" href="{% static 'assets/images/gallery/04_gallery.jpg' %}"><i class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-carousel-item">
                        <div class="gallery-item">
                            <span></span>
                            <div class="img-box">
                                <img class="img-fluid gallery-item-img" src="{% static 'assets/images/gallery/05_gallery.jpg' %}" alt="05 Gallery">
                            </div>
                            <div class="hover-box">
                                <div class="text-box">
                                    <div class="tags"><a href="#">surgery</a></div>
                                    <h4><a href="#">Treat transplant</a></h4>
                                </div>
                                <ul class="gallery-icon">
                                    <li><a href="#"><i class="fas fa-link"></i></a></li>
                                    <li><a class="popup" href="{% static 'assets/images/gallery/05_gallery.jpg' %}"><i class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-carousel-item">
                        <div class="gallery-item">
                            <span></span>
                            <div class="img-box">
                                <img class="img-fluid gallery-item-img" src="{% static 'assets/images/gallery/06_gallery.jpg' %}" alt="06 Gallery">
                            </div>
                            <div class="hover-box">
                                <div class="text-box">
                                    <div class="tags"><a href="#">Medical</a></div>
                                    <h4><a href="#">Pulmonology care</a></h4>
                                </div>
                                <ul class="gallery-icon">
                                    <li><a href="#"><i class="fas fa-link"></i></a></li>
                                    <li><a class="popup" href="assets/images/gallery/06_gallery.jpg"><i class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: Testimonial -->
        <section class="testimonial testimonial-2 py-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="testimonial-carousel owl-carousel owl-theme">
                            <div class="testimonial-carousel-item">
                                <i class="quote flaticon-left-quote"></i>
                                <div class="content-text-box">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</div>
                                <div class="testimonial-doctor">
                                    <h4>Sana El-Shamy</h4>
                                    <span>Hematology</span>
                                </div>
                            </div>
                            <div class="testimonial-carousel-item">
                                <i class="quote flaticon-left-quote"></i>
                                <div class="content-text-box">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</div>
                                <div class="testimonial-doctor">
                                    <h4>Anwar Ramadan</h4>
                                    <span>cardiology</span>
                                </div>
                            </div>
                            <div class="testimonial-carousel-item">
                                <i class="quote flaticon-left-quote"></i>
                                <div class="content-text-box">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</div>
                                <div class="testimonial-doctor">
                                    <h4>Osama Bakri</h4>
                                    <span>ophthalmology</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: Blog -->
        <section class="blog py-100-70">
            <div class="container">
                <div class="sec-title sec-title-2">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Recent News</h2>
                            <h3>Read All News</h3>
                        </div>
                        <div class="col-lg-5">
                            <p class="sec-explain">CityMed Are A Medical And Health Department Provider Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care Field.</p>
                            <a class="btn-1 sec-btn" href="#">View All Blog</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box">
                                <a href="#" class="open-post">
                                    <img class="img-fluid" src="{% static 'assets/images/blog/01_blog.jpg' %}" alt="01 Blog">
                                </a>
                                <ul>
                                    <li><a href="#">Surgery</a></li>
                                    <li><a href="#">,</a></li>
                                    <li><a href="#">medical</a></li>
                                </ul>
                            </div>
                            <div class="text-box">
                                <span class="blog-date">Jan 25, 2021</span>
                                <a href="#" class="title-blog">
                                    <h5>Diabetes &amp; blood pressor check up</h5>
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et dolore magna aliqua...</p>
                                <a href="#" class="link">Discover More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box">
                                <a href="#" class="open-post">
                                    <img class="img-fluid" src="{% static 'assets/images/blog/02_blog.jpg' %}" alt="02 Blog">
                                </a>
                                <ul>
                                    <li><a href="#">Infectious</a></li>
                                </ul>
                            </div>
                            <div class="text-box">
                                <span class="blog-date">May 25, 2021</span>
                                <a href="#" class="title-blog">
                                    <h5>Doctor’s Failure to Diagnose a Medical Condition</h5>
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et dolore magna aliqua...</p>
                                <a href="#" class="link">Discover More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box">
                                <a href="#" class="open-post">
                                    <img class="img-fluid" src="{% static 'assets/images/blog/03_blog.jpg' %}" alt="03 Blog">
                                </a>
                                <ul>
                                    <li><a href="#">Hospital</a></li>
                                    <li><a href="#">,</a></li>
                                    <li><a href="#">Health Care</a></li>
                                </ul>
                            </div>
                            <div class="text-box">
                                <span class="blog-date">May 5, 2021</span>
                                <a href="#" class="title-blog">
                                    <h5>Brushing your teeth may keep your heart healthy</h5>
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et dolore magna aliqua...</p>
                                <a href="#" class="link">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
       


{% endblock %}