{% extends 'main/base.html' %}
{% load static %}
{% block content %}


        <!-- :: Header -->
        <section class="header">
            <div class="header-carousel owl-carousel owl-theme">
                <div class="sec-hero display-table" style="background-image: url({% static 'assets/images/header/syringe-1291129_1920.jpg' %})">
                    <div class="table-cell">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="banner">
                                        <h1 class="handline">Connect with Doctors Worldwide</h1>
                                        <p class="about-website">Experience the convenience of telemedicine with
our website. Connect with docts and other medical
professionals via video consultation from the comfort
of your own home.</p>
                                        <a class="btn-1 move-section" href="#start">Book Appointment</a>
                                        <a class="btn-1 btn-2 ml-30" href="#">Urgent Care</a>
                                         <a class="btn-1 btn-3 ml-30" href="#">Home Service</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec-hero display-table" style="background-image: url({% static 'assets/images/header/hospital-8786610_1920.jpg' %})">
                    <div class="table-cell">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="banner">
                                        <h1 class="handline">We work professionally and wholeheartedly</h1>
                                        <p class="about-website">CityMed is a healthcare organization focused on providing convenient and accessible healthcare services to individuals in the comfort of their homes through home visits, and mobile clinics, with a commitment to delivering high-quality care.</p>
                                        <a class="btn-1 btn-2" href="#">Find A Doctor</a>
                                        <a class="btn-1 btn-3 ml-30" href="#">Discover More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec-hero display-table" style="background-image: url({% static 'assets/images/header/syringe-1291129_1920.jpg' %})">
                    <div class="table-cell">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="banner">
                                        <h1 class="handline">Care Whenever You Need It</h1>
                                        <p class="about-website">CityMed is a healthcare organization focused on providing convenient and accessible healthcare services to individuals in the comfort of their homes through home visits, and mobile clinics, with a commitment to delivering high-quality care.</p>
                                        <a class="btn-1 btn-2" href="#">More About Us</a>
                                        <span class="header-video ml-30">
                                            <a href="#" class="pulse" data-lity="">
                                                <i class="fas fa-play"></i>
                                            </a>
                                            <span class="video-name">Watch Our <br>Video!</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: Features -->
        <section class="features">
            <div class="container">
                <div class="row all-features-item">
                    <div class="col-lg-4 padding-0">
                        <div class="features-item one">
                            <i class="features-icon flaticon-air-ambulance"></i>
                            <div class="item-text">
                                <h4>Emergency Service</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p> 
                                <a class="phone" href="tel:0088609830"><i class="flaticon-emergency-call"></i> 008860 9830</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div class="features-item two">
                            <i class="features-icon flaticon-medical-folder"></i>
                            <div class="item-text">
                                <h4>Request Appoinment</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p> 
                                <a class="make-appoinment" href="#">Make Appoinment</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div class="features-item three">
                            <i class="features-icon flaticon-medical-file"></i>
                            <div class="item-text">
                                <h4>Doctor Timetable</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p> 
                                <a class="timetable" href="#">Discover Timetable</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: About Us -->
        <section class="about-us py-100" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="about-img-box">
                            <div class="img-box" style="background-image: url({% static 'assets/images/about/6cc39d10e6310f8f3436d6aff06fe6b6.jpg' %})"></div>
                            <div class="about-experience">
                                <i class="flaticon-experience"></i>
                                <div class="experience-counter">45</div>
                                <h5>years of<br>experience</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-text-box">
                            <div class="sec-title">
                                <h2>welcome to best medical &amp; Health care</h2>
                                <h3>get best &amp; amazing Experice with our professional doctors</h3>
                                <p class="sec-explain">CityMed is a healthcare organization focused on providing convenient and accessible healthcare services to individuals in the comfort of their homes through home visits, and mobile clinics, with a commitment to delivering high-quality care.</p>
                            </div>
                            <ul class="about-core">
                                <li><i class="fas fa-check-double"></i>
                                    <h4>professional doctors</h4>
                                </li>
                                <li><i class="fas fa-check-double"></i>
                                    <h4>Digital Laboratory</h4>
                                </li>
                                <li><i class="fas fa-check-double"></i>
                                    <h4>online schedule</h4>
                                </li>
                                <li><i class="fas fa-check-double"></i>
                                    <h4>leading technology</h4>
                                </li>
                                <li><i class="fas fa-check-double"></i>
                                    <h4>high packages</h4>
                                </li>
                                <li><i class="fas fa-check-double"></i>
                                    <h4>24/7 online support</h4>
                                </li>
                                <li><i class="fas fa-check-double"></i>
                                    <h4>And More...</h4>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-sm-4">
                                    <img class="img-fluid" src="{% static 'assets/images/signature.png' %}" alt="About signature">
                                </div>
                                <div class="col">
                                    <div class="about-profile">
                                        <img class="img-fluid" src="{% static 'assets/images/about/01_about-man.jpg' %}" alt="About Profile Photo">
                                        <div class="name">
                                            <span>Dr Anwar Ramadan</span>
                                            <span>Executive Director</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: Departments -->
        <section class="departments">
            <div class="bg-section">
                <div class="overlay overlay-2"></div>
            </div>
            <div class="container">
                <div class="sec-title">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Best practice care!</h2>
                            <h3>Different types of departments</h3>
                        </div>
                        <div class="col-lg-5">
                            <p class="sec-explain">CityMed Are A Medical And Health Department Provider Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care Field.</p>
                            <a class="btn-1 btn-3 sec-btn" href="#">View All practice care</a>
                        </div>
                    </div>
                </div>
                <div class="departments-carousel owl-carousel owl-theme">
                    <div class="departments-item">
                        <div class="departments-item-text-box">
                            <i class="departments-item-icon flaticon-hematology"></i>
                            <div class="item-content">
                                <h4>Telemedicine</h4>
                                <p>Telemedicine Services at CityMed is an essential component of our comprehensive mental health services, working in conjunction with other interventions such as psychiatric evaluation and medication management when necessary.</p>
                                <!-- <a href="#" class="more">Discover More</a> -->
                            </div>
                        </div>
                        <a href="#" class="departments-item-img-box hemathology"><span></span></a>
                    </div>
                    <div class="departments-item">
                        <div class="departments-item-text-box">
                            <i class="departments-item-icon flaticon-neurology"></i>
                            <div class="item-content">
                                <h4>Nursing Care</h4>
                                <p>LAt CityMed, Nursing care is conducted by licensed therapists who specialize in evidence-based modalities such as Cognitive Behavioral Therapy (CBT) or Dialectical Behavior Therapy (DBT).</p>
                                <!-- <a href="#" class="more">Discover More</a> -->
                                <br><br>
                            </div>
                        </div>
                        <a href="#" class="departments-item-img-box neurology"><span></span></a>
                    </div>
                    <div class="departments-item">
                        <div class="departments-item-text-box">
                            <i class="departments-item-icon flaticon-gastroenterology"></i>
                            <div class="item-content">
                                <h4>Physiotherapy</h4>
                                <p>At CityMed, group therapy sessions are designed to create a safe and confidential space where participants can connect with others who may be facing similar challenges.</p>
                                <!-- <a href="#" class="more">Discover More</a> -->
                                <br><br>
                            </div>
                        </div>
                        <a href="#" class="departments-item-img-box gastroenterology"><span></span></a>
                    </div>
                    <div class="departments-item">
                        <div class="departments-item-text-box">
                            <i class="departments-item-icon flaticon-pulmonology"></i>
                            <div class="item-content">
                                <h4>pulmonology</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <!-- <a href="#" class="more">Discover More</a> -->
                                <br><br>

                            </div>
                        </div>
                        <a href="#" class="departments-item-img-box pulmonology"><span></span></a>
                    </div>
                    <div class="departments-item">
                        <div class="departments-item-text-box">
                            <i class="departments-item-icon flaticon-cardiology"></i>
                            <div class="item-content">
                                <h4>cardiology</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <!-- <a href="#" class="more">Discover More</a> -->
                               <br><br>
                            </div>
                        </div>
                        <a href="#" class="departments-item-img-box cardiology"><span></span></a>
                    </div>
                    <div class="departments-item">
                        <div class="departments-item-text-box">
                            <i class="departments-item-icon flaticon-ophthalmology"></i>
                            <div class="item-content">
                                <h4>ophthalmology</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <!-- <a href="#" class="more">Discover More</a> -->
                                <br><br>
                            </div>
                        </div>
                        <a href="#" class="departments-item-img-box ophthalmology"><span></span></a>
                    </div>
                    <div class="departments-item">
                        <div class="departments-item-text-box">
                            <i class="departments-item-icon flaticon-orthopedics"></i>
                            <div class="item-content">
                                <h4>orthopedics</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <!-- <a href="#" class="more">Discover More</a> -->
                                <br><br>
                            </div>
                        </div>
                        <a href="#" class="departments-item-img-box orthopedics"><span></span></a>
                    </div>
                    <div class="departments-item">
                        <div class="departments-item-text-box">
                            <i class="departments-item-icon flaticon-radiology"></i>
                            <div class="item-content">
                                <h4>radiology</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur adipiscing elit.</p>
                                <a href="#" class="more">Discover More</a>
                            </div>
                        </div>
                        <a href="#" class="departments-item-img-box radiology"><span></span></a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: Doctors -->
        <section class="doctors py-100-70">
            <div class="container">
                <div class="sec-title">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Meet Our Team</h2>
                            <h3>Group Of Certified &amp; Experienced Doctors</h3>
                        </div>
                        <div class="col-lg-5">
                            <p class="sec-explain">CityMed Are A Medical And Health Department Provider Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care Field.</p>
                            <a class="btn-1 sec-btn" href="#">View All Doctors</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="doctors-box">
                            <div class="img-box">
                                <img class="img-fluid" src="{% static 'assets/images/doctors/doctors_01.jpg' %}" alt="01 doctors">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5>Dr Anwar Ramadan</h5>
                                <span>Surgeon, Proctologist</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="doctors-box">
                            <div class="img-box">
                                <img class="img-fluid" src="{% static 'assets/images/doctors/doctors_02.jpg' %}" alt="02 doctors">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5>Dr Mohamed Ramadan</h5>
                                <span>Internist, orthopedic Surgeon</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="doctors-box">
                            <div class="img-box">
                                <img class="img-fluid" src="{% static 'assets/images/doctors/doctors_03.jpg' %}" alt="03 doctors">
                                <div class="img-box-hover">
                                    <ul>
                                       <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5>Dr Omnia Ramadan</h5>
                                <span>Emergency Physician</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         
        <!-- :: Provide -->
        <section class="provide">
            <div class="bg-section">
                <div class="overlay overlay-3"></div>
            </div>
            <div class="container">
                <div class="sec-title">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Medical quality care</h2>
                            <h3>Complete health care solutions for everyone</h3>
                        </div>
                        <div class="col-lg-5">
                            <p class="sec-explain">CityMed Are A Medical And Health Department Provider Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care Field.</p>
                            <a class="btn-1 btn-5 sec-btn" href="#">Book an appointment</a>
                        </div>
                    </div>
                </div>
                <div class="provide-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="provide-content-box">
                                <i class="flaticon-doctor-1"></i>
                                <div class="content-box">
                                    <h4>Experience<br>Doctors</h4>
                                    <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="provide-content-box">
                                <i class="flaticon-experience"></i>
                                <div class="content-box">
                                    <h4>+45 Years<br>Experience</h4>
                                    <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="provide-content-box">
                                <i class="flaticon-cross"></i>
                                <div class="content-box">
                                    <h4>Standards of<br>treatments</h4>
                                    <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="provide-content-box">
                                <i class="flaticon-medicine"></i>
                                <div class="content-box">
                                    <h4>The Best<br>Departments</h4>
                                    <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- :: Quote And Presentation -->
                <div class="quote-and-presentation">
                    <div class="row">
                        <div class="col-lg-6">
                            <form class="quote-box form-contact">
                                <div class="sec-title">
                                    <h3>Make appointment!</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="quote-item">
                                            <span class="lable">name*</span>
                                            <i class="fas fa-file-signature"></i>
                                            <input type="text" name="name" placeholder="Name" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="quote-item">
                                            <span class="lable">Email*</span>
                                            <i class="fas fa-envelope"></i>
                                            <input type="email" name="email" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="quote-item">
                                            <span class="lable">Phone*</span>
                                            <i class="fas fa-phone"></i>
                                            <input type="tel" name="phone" placeholder="Phone" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="quote-item">
                                            <span class="lable">Doctors*</span>
                                            <i class="fas fa-user"></i>
                                            <input type="text" name="doctors" placeholder="Doctors" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <span class="lable">Departments*</span>
                                            <select name="departments">
                                                <option value="Departments">Departments</option>
                                                <option value="hemathology">hemathology</option>
                                                <option value="neurology">neurology</option>
                                                <option value="gastroenterology">gastroenterology</option>
                                                <option value="pulmonology">pulmonology</option>
                                                <option value="cardiology">cardiology</option>
                                                <option value="ophthalmology">ophthalmology</option>
                                                <option value="orthopedics">orthopedics</option>
                                                <option value="radiology">radiology</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="quote-item">
                                            <span class="lable">Select Date*</span>
                                            <i class="fas fa-calendar-day"></i>
                                            <input type="text" data-toggle="datepicker" name="date" placeholder="Select Date" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="quote-item">
                                            <span class="lable">Select Time*</span>
                                            <i class="fas fa-clock"></i>
                                            <input id="timeQuote" type="text" class="time" name="time" placeholder="Select Date" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <button class="btn-1" type="submit">Book an appointment</button>
											<span class="out-message m-2"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="video-presentation">
                                <div class="overlay"></div>
                                <div class="presentation-box">
                                    <a href="#" class="pulse" data-lity>
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        
        
        <!-- :: Testimonial -->
        <section class="testimonial py-100">
            <div class="bg-section">
                <div class="overlay overlay-2"></div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 padding-0">
                        <div class="testimonial-img-box">
                            <div class="img-box" style="background-image: url(% static 'assets/images/testimonial/01_testimonial-say.jpg' %})"></div>
                        </div>
                    </div>
                    <div class="col-md-7 padding-0">
                        <div class="testimonial-text-box">
                            <div class="testimonial-carousel owl-carousel owl-theme">
                                <div class="testimonial-carousel-item">
                                    <i class="quote flaticon-left-quote"></i>
                                    <div class="content-text-box">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</div>
                                    <div class="testimonial-doctor">
                                        <h4>Sana El-Shamy</h4>
                                        <span>Hematology</span>
                                    </div>
                                </div>
                                <div class="testimonial-carousel-item">
                                    <i class="quote flaticon-left-quote"></i>
                                    <div class="content-text-box">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</div>
                                    <div class="testimonial-doctor">
                                        <h4>Anwar Ramadan</h4>
                                        <span>cardiology</span>
                                    </div>
                                </div>
                                <div class="testimonial-carousel-item">
                                    <i class="quote flaticon-left-quote"></i>
                                    <div class="content-text-box">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</div>
                                    <div class="testimonial-doctor">
                                        <h4>Osama Bakri</h4>
                                        <span>ophthalmology</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- :: Statistic -->
        <div class="statistic">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="statistic-item">
                            <i class="flaticon-doctor"></i>
                            <div class="content">
                                <div class="statistic-counter">223</div>
                                <div class="counter-name">Expert Doctors</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="statistic-item">
                            <i class="flaticon-rhinology"></i>
                            <div class="content">
                                <div class="statistic-counter">2005</div>
                                <div class="counter-name">Happy Patients</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="statistic-item">
                            <i class="flaticon-medicine"></i>
                            <div class="content">
                                <div class="statistic-counter">530</div>
                                <div class="counter-name">Health Departments</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="statistic-item">
                            <i class="flaticon-stethoscope"></i>
                            <div class="content">
                                <div class="statistic-counter">4456</div>
                                <div class="counter-name">Total Branches</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        {% endblock %}